apiVersion: v1
kind: Pod
metadata:
  name: {{ include "wellplay.celery.fullname" . }}
  labels:
    {{- include "celery.selectorLabels" . | nindent 4 }}
spec:
  imagePullSecrets:
    - name: {{ .Values.image.imagePullSecrets }}
  containers:
    - name: {{ include "wellplay.celery.fullname" . }}
      image: {{ .Values.image.celery.name }}:{{ .Values.image.celery.tag }}
      envFrom:
        - secretRef:
            name: {{ include "wellplay.fullname" . }}
        - secretRef:
            name: {{ include "wellplay.db.fullname" . }}
        - secretRef:
            name: backend
        - configMapRef:
            name: {{ include "wellplay.fullname" . }}
      ports:
        - containerPort: {{ .Values.containerPort.redis }}
