server {
	listen 80;
	server_name 127.0.0.1 $LOCAL_IP;
	
	location / {
		proxy_pass http://wellplay-app:8000;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
	}

	location /static {
		root /var/www/html;
	}
}
