/*디폴트 값 css*/

.content-backgroud {
    background-color: #202020; /* 화면배경이 아닌 콘텐츠들의 배경 */
}

.custom-card {
    background-color: #202020;
    color: white;
}

.custom-modal {
    color:#131313;
    font-family: Arial, sans-serif;
    --bs-modal-color: #131313;
}

.modal-content {
    background-color: #131313;
}

.button {
    background-color: #202020;
}

.button-container button {
    display: inline-block;
    padding: 0px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 110px;
    font-weight: bold;
    background-color: #131313;
    color: #FFF;
    width: 15%;
    text-decoration: none;
    position: relative;
    transition: all;
}

.button-container button {
    display: inline-block;
    width: auto; /* 또는 필요한 너비로 지정 */
    border-bottom: 0px solid transparent; /* 초기에는 밑줄이 보이지 않도록 설정 */
  }
  
  .button-container button:hover {
    box-shadow: 0px 15px 15px -15px rgba(255, 255, 255, 0.7);
  }

.button-container {
    display: flex;
    justify-content: center;
  }
  
.button-container button {
    white-space: nowrap;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 30px;
    font-size: 16px;
    box-shadow: 0px 5px 5px -5px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s;
  }

/* 선택된 버튼의 그림자 색상 변경 */
.button-container button.selected {
    box-shadow: 0px 15px 15px -15px rgba(255, 255, 255, 0.7);
  }

.close-button{
  display: inline-block;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #202020;
  color: #FFF;
  width: 15%;
  text-decoration: none;
  position: relative;
  transition: all;
}