.edit-button button {
    border-color: #FFFFFF;
    background-color: #131313;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 20px;
}

.edit-button button:hover {
    background-color: #EC6664; /* 호버 시 배경색 변경 (원하는 색상으로 변경 가능) */
    color: #FFFFFF; /* 호버 시 텍스트 색상 변경 (원하는 색상으로 변경 가능) */
    border: none;
}

.follow-button button {
    border-color: #3A2E2E;
    background-color: #EC6664;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 20px;
}

.list-button {
    font-size: 18px;
    padding: 10px 10px;
    position: relative;
    left: -200px;
}

.user-button {
    font-size: 18px;
    padding: 10px 10px;
    position: relative;
    left: -260px;
}

.button {
    margin: 25px 10px 0px 10px;
}