.edit-button {
    margin: 10px 0px 0px 10px;
}

.follow-button {
    margin: 10px 0px 0px 10px;
}

.userid {
    margin: -25px 0px 0px 10px;
}

.edit-button button {
    white-space: nowrap;
    border-color: #FFFFFF;
    background-color: #131313;
    font-size: 16px;
    font-weight: bold;
    margin-right: 240px;
    border-radius: 20px;
}

.edit-button button:hover {
    background-color: #EC6664;
    color: #FFFFFF;
    border: none;
}

.follow-button button {
    white-space: nowrap;
    border-color: #3A2E2E;
    background-color: #EC6664;
    padding: 6px 20px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 218px;
    border-radius: 20px;
}

.list-button {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    margin-left: 20px;
    padding: 10px 10px;
    position: relative;
}

.user-button {
    white-space: nowrap;
    font-size: 16px;
    width: 70%;
    margin-left: 20px;
    padding: 10px 10px;
    position: relative;
}

.button {
    font-size: 16px;
    padding: 0px;
    margin: 20px 0px -20px 0px;
}

.profile-container {
    margin-left: 250px;
}

.connect-button {
    background-color: #202020;
    width: 65%;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgba(228,226,226,0.8), 6px 6px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.connect-button button {
    white-space: nowrap;
    width: 150px;
    height: 40px;
    background: #131313;
    position: relative;
    text-align: center;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    font-size: 1em;
    box-shadow: 1px 1px 3px rgba(228,226,226,0.8), 6px 6px 10px rgba(0,0,0,0.2);
    color: #FFFFFF;
    border: 1px solid white;
    margin: 5px;
}

.connect-button button:hover {
    background-color: #EC6664;
}