/* Comment.css */

.comment {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-username {
  font-size: 1em;
}

.comment-text {
  margin-top: 1px;
}

.comment-small-text {
  font-size: 10px;
  font-weight: lighter;
}

.dropdown button {
  background-color: #202020 ; /* 배경 색상을 투명하게 설정 */
  border: none; /* 테두리 제거 */
}

.dropdown {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.comment-form button {
  white-space: nowrap;
  background-color: #202020;
  color: #4C5ABF;
  text-align: center;
  border: none;
  font-weight: bold;
}

.comment-form {
  justify-content: space-between;
}

.comment-form input {
  width: 16em;
  background-color: #202020;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}