.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  white-space: nowrap;
  width: 31.62%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  font-size: 16px;
}

.home {
  display: grid;
  justify-items: center;
  margin-right: 250px;
}

.main{
  margin-left: 15rem;
}

.button {
  display: inline-block;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #131313
}

.home-button {
  width: 110px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #1E1E1E;
}

.home-button:hover {
  background-color: #3a3a3a
}

.home-button img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-left: -15px;
}

.write-button {
  background-color: #1E1E1E;
  width: 110px;
  display: flex;
  align-items: center;
  border: none;
}

.write-button:hover {
  background-color: #3a3a3a
}

.write-button img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  margin-left: -15px;
}

.profile-button {
  width: 110px;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  border: none;
}

.profile-button img {
  width: 35px;
  height: 35px;
  margin-right: 3px;
  margin-left: -15px;
  border-radius: 50%;
}

.profile-button:hover {
  background-color: #3a3a3a
}

.login-button {
  width: 110px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  border: none;
}

.login-button img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-left: -15px;
}

.login-button:hover {
  background-color: #3a3a3a;
}

.logout-button {
  width: 110px;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  border: none;
}

.logout-button img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  margin-left: -15px;
}

.logout-button:hover {
  background-color: #3a3a3a;
}

.active {
  background-color: #151515 ;
}

body{
  background-color: #131313 ;
}

.navbar {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  --toastify-color-light: #fff;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: hsla(0,0%,100%,.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-color-dark: #424242!important;
  color-scheme: dark;
  font-family: Noto Sans KR,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #121212;
  color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 0px 1px -1px rgba(0,0,0,0.2),0px 0px 1px 0px rgba(0,0,0,0.14),0px 0px 3px 0px rgba(0,0,0,0.12);
  background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  height: 100%;
  max-height: 100%;
  border-radius: 4px;
  width: 11rem;
  display: flex;
}

.logo{
  margin: -30px 0px -20px -10px;
}

.custom-card-style{
  background-color: #202020;
  color: #ffffff;
  border-radius: 30px;
  margin-top: 10px;
}

.modal-content {
  background-color: #202020;
  color: #ffffff;
}

.modal-header {
  margin: 8px 12px 12px 12px;
  border-bottom: 2px dashed;
}

.follower-modal {
  border: none;
  margin: 8px 12px 0px 12px;
  padding-bottom: 0px;
}

.modal-title {
  font-size: 1.2em;
}

.modal-body {
  padding: 25px;
}

.modal-body input {
  margin: 1em 0em;
  width: 75%;
}

.modal-body input::placeholder {
  color: #ffffff;
}

.modal-body button {
  background-color: #202020;
  border: 1px solid #ffffff;
}

.modal-body li {
  list-style-type: none;
  margin-bottom: 1em;
}

.modal-body button:hover {
  background-color: #EC6664;
  border: none;
}

.modal-body button:active {
  background-color: #EC6664;
  border: none;
}

.form-control {
  color: #ffffff;
  background-color: #202020;
}

.form-control:focus {
  color: #ffffff;
  background-color: #202020;
  border-color: #ffffff;
  box-shadow: none;
}

.text-login {
  font-weight: 50;
  color: #ffffff;
}

.text-sign {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 50;
  color: #ffffff;
}

.text-sign button:hover {
  background-color: #202020;
}

.login-modal {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

.login-modal img {
  margin-left: 170px;
}

.sign-button {
  margin-left: 10px;
  border: none !important;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-login button {
  background-color: #EC6664;
  border: none;
}

.form-login .form-control {
  margin: 3px;
  width: 300px;
}

.loginform-button {
  margin: 3px;
  width: 300px;
}

.form-login .form-control::placeholder{
  color: #757575;
}