name: CI-backend

on:
  push:
    tags:
      - "*.*.*"
    branches:
      - "dev"
    paths:
      - "backend/**"

env:
  IMAGE: ${{ vars.NCP_REGISTRY }}/wp-backend
  IMAGE_TAG: ${{ vars.NCP_REGISTRY }}/wp-backend:latest

jobs:
  lint:
    name: check lint (black)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: install black
        run: pip install black
      - name: check black
        run: black backend

  build-test-push:
    needs: lint
    name: build-push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: test
        run: |
          docker-compose -f docker-compose-test.yml up --build -d
          docker exec wp-back python manage.py makemigrations account
          docker exec wp-back python manage.py migrate
          docker exec wp-back python manage.py test

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to NCR
        uses: docker/login-action@v2
        with:
          registry: ${{ vars.NCP_REGISTRY }}
          username: ${{ secrets.NCP_ACCESS_KEY }}
          password: ${{ secrets.NCP_SECRET_KEY }}

      - name: Get current timestamp
        id: timestamp
        run: echo "timestamp=$(date '+%s')" >> "$GITHUB_OUTPUT"

      - name: bulid and push refs/heads
        if: startsWith(github.ref, 'refs/heads')
        uses: docker/build-push-action@v4
        with:
          context: backend
          tags: ${{ env.IMAGE_TAG }},"${{ env.IMAGE }}:${{ steps.timestamp.outputs.timestamp }}"
          push: true

      - name: bulid and push refs/tags
        if: startsWith(github.ref, 'refs/tags')
        uses: docker/build-push-action@v4
        with:
          context: backend
          tags: ${{ env.IMAGE_TAG }},"${{ env.IMAGE }}:${{ github.ref_name }}"
          push: true
